---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import StandardSection from "../components/StandardSection.astro";
import ProjectList from "../components/ProjectList.astro";
import { aboutContent, workContent, interestsContent, projectContent } from "../content";

const about = aboutContent
const work = workContent
const interests = interestsContent
const projects = projectContent

---

<Layout title="Hey | Dan Ash">
	<main class="content">
		<Hero />
		<StandardSection
			labelledContent={about}
		/>
		<StandardSection
			labelledContent={work}
		/>
		<StandardSection
			labelledContent={interests}
		/>
		<ProjectList projects={projects} />

	</main>
</Layout>

<style>
	main {
  	Opacity: 1;
  	animation: showSection 1000ms;
	}	

	@keyframes showSection 
	{ 
  	0% {
    Opacity: 0;
  	}

  	100% {
    Opacity: 1;
  	}
	}


</style>
