---
const posts = (await Astro.glob('../pages/posts/*.md')) 
const nonDraftPosts = posts.filter((post) => !post.frontmatter.draft);



---
<!-- display nothing if no published posts -->
{nonDraftPosts.length == 0 ? <div></div>  :
<div>
    <h2>Blog posts</h2>
    <div class="posts">
        <>   
        {nonDraftPosts.map(post => 
            <a href={post.url}>
                <div class="post">
                    <h4 class="postTitle">{post.frontmatter.title}</h4>
                    <h5 class="postDate">{post.frontmatter.date}</h5>
                </div>
            </a>
        )}
        </> 
    </div>
</div>
}

<style>

    a {
        text-decoration: none;
    }

    .post {
        display: flex;
        justify-content: space-between;
        border-radius: 4px;
        padding: 10px 20px 10px 10px;
        gap: 2px;
    }

    .post:hover {
        background-color: var(--neutral3);
    }

    .postTitle {
        color: var(--accent);
        font-weight: 600;
        margin: 0;
    }

    .postDate {
        color: var(--neutral7);
        font-weight: 500;
        min-width: 160px;
        text-align: right;
        margin: 0;
    }

    @media only screen and (max-width: 600px) {
    .post {
        flex-direction: column;
    }

    .postDate {
        text-align: left;
    }
    }

</style>