---
import LinkButton from "./LinkButton.astro";

---

    <div class="section">
        <img
            src="/danFinal.webp"
            width="200px"
            height="200px"
            alt="Dan's profile photo"
        />
        <h1>Dan Ash</h1>
        <LinkButton links={[ {id: 0, buttonText:"View my Linkedin", href:"https://www.linkedin.com/in/dan-ash-401352b9/"}, {id: 1, buttonText:"dan@danielash.me", href:"mailto:dan@danielash.me"} ]} />
        <div class="divider"></div>
    </div>
    
    <style>

    .divider {
    border-style: solid; 
    border-color: var(--accent); 
    border-width: 1px; 
    width: 75px; 
    height: 5px;
    margin-bottom: 10px;
    }

    </style>

