---
import type { ButtonLinkModel } from "../types";

export interface Props {
    links: ButtonLinkModel[],
}

const { links } = Astro.props as Props;

---
    
    <div class="linkButtonContainer">
        {links.map((link) => (
            <>
                <a class="button" href={link.href}>
                    <div class="linkButton">
                        {link.buttonText}
                    </div>
                </a>
            </>
          ))}
    </div>

    <style>

        a.button {
        width: fit-content;
        text-decoration: none;
        display: flex;
        }

        button, .linkButton {
        width:fit-content;
        margin-top: 0px;
        background-color: var(--neutral3);
        color: var(--accent);
        border-style: none;
        padding: 1px 12px;
        font-family: 'Archivo', sans-serif;
        font-weight: 600; 
        font-size: 14px;
        cursor: pointer;
        text-decoration: none;
        transition: transform 400ms cubic-bezier(0.34, 2.0, 0.64, 1);
        }

        button:hover, .linkButton:hover {
        background-color: var(--neutral4);
        transform: scale(1.1, 1.1);
        }


        .linkButtonContainer {
        display:flex; 
        gap: 10px;
        margin-bottom: 10px;
        flex-wrap: wrap;
        }

    </style>

