---
import LinkButton from './LinkButton.astro';
import type { ProjectModel, StandardSectionModel } from '../types';

export interface Props {
  project: ProjectModel
}

const { project } = Astro.props as Props;

---
<div class="project">
        <div>
                <h3>{project.name}</h3>

                {project.about.map((paragraph) => (
                        <>
                        <p><Fragment set:html={paragraph}/></p>
                        </>
                ))}

        <LinkButton links={project.links}/>
        </div>
        <div>
                <h4>Key learnings:</h4>

                <ul>
                        {project.keyLearnings && project.keyLearnings.map((keyLearning) => (
                                <>
                                <li> <Fragment set:html={keyLearning}/> </li>
                                </>
                        ))}
                </ul>
        </div>
</div>



<style>

.project {
        display: flex;
        flex-direction: column;
        gap: 2px;
}

</style>