---
import type { ProjectModel } from '../types';
import Project from './Project.astro'

export interface Props {
    projects: ProjectModel[];
}

const { projects } = Astro.props as Props;
---

<div>
    <h2>Projects</h2>
    <div class="projectsContainer">
        {
            projects.map((project) => (
                <>
                    <div>
                        <Project project={project} />
                    </div>
                </>
            ))
        }
    </div>
</div>
<style>

.projectsContainer {
display: flex;
flex-direction: column;
gap: 15px;
}

</style>
