---
import type { StandardSectionModel } from "../types";

export interface Props {
    standardSection: StandardSectionModel;
}

const { 
    standardSection,
} = Astro.props as Props;
---

<div>
    <h2>{standardSection.header}</h2>
    {standardSection.paragraphs.map((paragraph) => (
        <>
            <p> {paragraph} </p>
        </>
      ))}
    <ul>
        {standardSection.bullets && standardSection.bullets.map((bullet) => (
            <>
                <p> {bullet} </p>
            </>
        ))}
    </ul>
</div>
<style>
	
</style>
