---
import type { LabelledContentModel } from "../types";

export interface Props {
    labelledContent: LabelledContentModel;
}

const { 
    labelledContent
} = Astro.props as Props;

---

<div>
    <h2>{labelledContent.label}</h2>
    {labelledContent.contents.map((paragraph) => (
        <>
            <p><Fragment set:html={paragraph}></Fragment></p>
        </>
      ))}
    <ul>
        {labelledContent.bullets && labelledContent.bullets.map((bullet) => (
            <>
                <li><Fragment set:html={bullet}/></li>
            </>
        ))}
    </ul>
</div>
<style>
	
</style>
