---
import type { StandardSectionModel } from "../types";

export interface Props {
    standardSection: StandardSectionModel;
}

const { 
    standardSection,
} = Astro.props as Props;
---

<div>
    <h2>{standardSection.header}</h2>
    {standardSection.paragraphs.map((paragraph) => (
        <>
            <p><Fragment set:html={paragraph}></Fragment></p>
        </>
      ))}
    <ul>
        {standardSection.bullets && standardSection.bullets.map((bullet) => (
            <>
                <li><Fragment set:html={bullet}/></li>
            </>
        ))}
    </ul>
</div>
<style>
	
</style>
