---
export interface Props {
	title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content="Hey! I'm Dan, a startup and tech leader from New Zealand.">
		<link rel="icon" type="image/x-icon" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<style>
			@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700&family=Yrsa&display=swap');
		</style>
	</head>
	<body>
		<div class="page">
			<div class="content">
				<slot />
			</div>
		</div>
	</body>
</html>
<style is:global>

	:root {
	--accent: #96B7E9;
	--neutral10: #E6E6E6;
	--neutral9: #BFBFBF;
	--neutral6: #4D4D4D;
	--neutral4: #333333;
	--neutral3: #2B2B2B;
	--neutral1: #242424;

	}

	html {
	background-color: var(--neutral1);
	color: var(--neutral9);
	font-family: "Yrsa", serif;
	font-size: 16px;
	}

	/* Text elements */ 
	h1, h2, h3 {
	font-family: "Archivo", sans-serif;
	font-weight: 700;
	color: var(--neutral10);
	}
	h4, h5, h6 {
	font-weight: 400;
	font-family: "Archivo", sans-serif;
	color: var(--neutral10);
	}

	h1 {
	font-size: 32px;
	margin-top: 10px;
	margin-bottom: 8px;
	}

	h2 {
	font-size: 24px;
	margin-top: 6px;
	margin-bottom: 6px;
	}

	h3 {
	margin-top: 8px;
	margin-bottom: 8px;
	}

	h4 {
	font-size: 14px;
	margin-top: 8px;
	margin-bottom: 8px;
	}

	p {
	margin-top: 0px;
	margin-bottom: 10px;
	}

	ul, ol {
	margin-top: 2px;
	padding-left: 16px;
	}

	li {
	margin-bottom: 2px;
	}

	a {
	color:var(--neutral9)
	} 

	.page {
	margin-left: 250px;
	margin-top: 5vh;
	}

	.content {
	display: flex;
	flex-direction: column;
	max-width: 400px;
	gap: 10px;
	}

	@media only screen and (max-width: 1224px) {
	.page {
		margin-left: 2vw;
		margin-top: 5vh;
	}
	}


</style>
